html,body {
	height:100%;
	width:100%;
	background:#000 url("../img/nami.png");
	color: #e0e0e0;
	font-family: 'Open Sans', sans-serif;
	
}

.jumbotron {
	margin-bottom: 0;
	font-family: 'Share Tech Mono', monospace;
	/* BACKGROUND */
	width:100%;
	max-width:100%;
	background-position:auto;
	background-size:cover;
	background: #000 url("../img/cyberpunk-1521899691536-7926.jpg") center no-repeat;
	overflow: hidden;
}

.carousel-inner>.item {
	min-height: 400px;
	
}

#allSearch {
	background-color:#00cbe3;

}

#allSearch:hover {
	background-color:#2a6268;

}

#allSearch:active {
	background-color:#82f2ff;
}

#recent-searches {
	padding: 20px 30px;
	background-color:#00cbe3;
	color: #000;
	margin-bottom: 10px;
	font-family: 'Share Tech Mono', monospace;
}

.full-container {
	width: 96%;
}
.results-container {
	border: solid 1px #00cbe3;
	background: #000;
}

.engine-header {
	background-color:#00cbe3;
	color: #000;
	font-family: 'Share Tech Mono', monospace;
	padding: 3px;
}

.engine-header h4 {
	margin: 0px;
}

.search-results {
	height: auto;
    width: auto;
	top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: left;
    line-height: 19px;
	font-size: 14px;
	
}


.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}


/* h2 {
	text-align: center;
} */

p {
	margin: auto;
}

.result h2 a {
	text-align: left;
}

.result a {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #00cbe3;
}

.result p {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: whitesmoke;
	text-align: left;
}

/* WIKI RESULTS STYLING */
.result a h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #00cbe3;
}

.result a p {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: whitesmoke;
	text-align: left;
}

.carousel-caption{
position: relative;
    margin: 0;
    left: 0;
	padding: 5%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
	.carousel-indicators, .carousel-control {
		display: none;
	}
	.item {
		width: calc(32% - 30px);
		margin-right: 30px;
	}

	item:last-child {
		margin-right: 0;
	}

	#inputForm {
		width: 600px;
	}

	.carousel-inner {
		overflow: initial;
		align-items: center;
		position: initial;
		padding-left: 5%;
		padding-right: 5%;
	}

	.carousel-inner>.item {
		min-height: 85px;
		display: inline-block;
	}

	.carousel-caption {
		position: absolute;
		right: auto;
		left: auto;
		width: 98%;
	}

	.search-results {
	right: auto;
    left: auto;
    width: 98%;
	}
}