.form-control {
	width: 50%;
	margin: auto;
}

h1 {
	text-align: center;
}

.col-sm-4 {
	margin: 2% 1% 2% 1%;
	padding: 2%;
	border: solid;
}

p {
	margin: auto;
	text-align: center;
}

margin: 10px 5px 15px 20px;
top margin is 10px
right margin is 5px
bottom margin is 15px
left margin is 20px