html,body {
	height:100%;
	width:100%;
	background-color:#000;
	color: #e0e0e0;
	font-family: 'Open Sans', sans-serif;
	
}


.jumbotron {
	margin-bottom: 0;
	font-family: 'Share Tech Mono', monospace;
	/* BACKGROUND */
	width:100%;
	max-width:100%;
	background-position:auto;
	background-size:cover;
	background: #000 url("../img/cyberpunk_jumbotron_bg.jpg") center no-repeat;
	overflow: hidden;
}

#allSearch {
	background-color:#00cbe3;

}

#top-searches {
	padding: 20px 30px;
	background-color:#00cbe3;
	color: #000;
	margin-bottom: 10px;
	font-family: 'Share Tech Mono', monospace;
}

.full-container {
	width: 96%;
}
.results-container {
	border: solid 1px #00cbe3;
}

.engine-header {
	background-color:#00cbe3;
	color: #000;
	font-family: 'Share Tech Mono', monospace;
	padding: 3px;
}

.engine-header h4 {
	margin: 0px;
}

.search-results {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px
}

h2 {
	text-align: center;
}

p {
	margin: auto;
}


